
body {
  background-color: #fcfad0;
  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-image:
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.015),
      rgba(0, 0, 0, 0.015) 1px,
      transparent 1px,
      transparent 3px
    );
}


.figure {
  margin: 1rem 0;
  padding: 0.35rem;
  background-color: #d2d0ad;
  border-radius: 8px;
    box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 0 rgba(0, 0, 0, 0.08);

    background-image:
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.015),
      rgba(0, 0, 0, 0.015) 1px,
      transparent 1px,
      transparent 3px
    );
}



